<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="'layout/default'">
<head>
<title>Sistema Apoio a Produção</title>
</head>
<body>
    <section layout:fragment="conteudo">
    
	    <section class="content">
	       <div class="row">
		      <div class="col-md-12">
		       <div class="box box-primary">
		         <div style="text-align: center" class="box-header with-border">
		            <h3 class="box-title">HOSTS</h3>
		         </div>
	
		         <div class="box-body">
		           <table id="t_host" class="table table-bordered table-striped nowrap" style="font-size:small">
		             <thead>
		               <tr>
		                 <th>Hostname</th>
		                 <th>Departamento</th>
		                 <th>Utilizador</th>
		                 <th>Processador</th>
		                 <th>RAM</th>
		                 <th>HD</th>
		                 <th>Endereço MAC</th>
		                 <th>S.O.</th>
		                 <th>Arquitetura</th>
		                 <th>Chave SO</th>
		                 <th>Status</th>
		               </tr>
		             </thead>
		             <tbody>
		                <tr th:each="host : ${hosts}">
		             	  <td><a th:href="@{/host/editar/} + ${host.hostname}" th:text="${host.hostname}"></a></td>
		             	  <td th:text="${host.departamento.nomeDepartamento}"></td>
		             	  <td th:text="${host.utilizador}"></td>
		             	  <td th:text="${host.processador.descricaoProcessador}"></td>
		             	  <td th:text="${host.memoriaRam.memRam}"></td>
		             	  <td th:text="${host.hd}"></td>
		             	  <td th:text="${host.enderecoMac}"></td>
		             	  <td th:text="${host.sistemaOperacional.sistemaOperacional}"></td>
		             	  <td th:text="${host.arquiteturaSO.descricaoArquitetura}"></td>
		             	  <td th:text="${host.chaveLicenca}"></td>
		             	  <td>
		             	    <!-- <span th:if="${host.statusHost.valor == 1}"><i class="fa fa-circle" style="color:green"></i></span>
		             	    <span th:if="${host.statusHost.valor == 2}"><i class="fa fa-circle text-primary" style="color:red"></i></span> -->
		             	  	<span th:if="${host.statusHost.valor == 1}" class="label label-success" th:text="${host.statusHost.descricao}"></span>
		             	  	<span th:if="${host.statusHost.valor == 2}" class="label label-danger" th:text="${host.statusHost.descricao}"></span>
		             	  </td>
		             	</tr>
		             </tbody>
		             <tfoot>
		             <tr>
		               <th>Hostname</th>
		               <th>Departamento</th>
		               <th>Utilizador</th>
		               <th>Processador</th>
		               <th>RAM</th>
		               <th>HD</th>
		               <th>Endereço MAC</th>
		               <th>S.O.</th>
		               <th>Arquitetura</th>
		               <th>Chave SO</th>
		               <th>Status</th>
		             </tr>
		             </tfoot>
		           </table>
		         </div>
		        </div>
		      </div>
	       </div>
	    </section>

    </section>
  
<th:block layout:fragment="javascript-extra">
	<script>
	  $(function () {
	    $('#t_host').dataTable({
	      "scrollX": true,
	  	  "language": { //altera informações da tabela para português
	  	    "paginate": {
	  	      "previous": "Anterior",
	  	      "next": "Próximo"
	  	    },
	  	    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
	  	    "search": "Buscar:",
	  	    "lengthMenu": "Ver _MENU_ registros",
	  	    "zeroRecords": "Nenhum registro encontrado",
	  	    "infoEmpty": "",
	  	    "infoFiltered":   ""
	  	  },
	  	  "columns": [ //altera as colunas que são pesquisáveis
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": false}
	  	  ],
	  	  "lengthMenu": [ [10, 20, 30, -1], [10, 20, 30, "Todos"] ] // defina quantidade de linhas para exibir
	  	})
	  });
	</script>
</th:block>
</body>
</html>