<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="'layout/default'">
<head>
<title>Sistema Apoio a Produção</title>
</head>
<body>
    <section layout:fragment="conteudo">
      
     <section class="content">
      <div class="box box-primary">
        <div class="box-header with-border">
           <h3 class="box-title">Host</h3>
        </div>
		<form role="form" th:action="@{/hosts/salvar}" th:object="${host}" method="POST">
          <div class="box-body">
            <div class="row">
              <div class="col-xs-2">
                <label>Tipo</label>
                <select class="form-control" th:field="*{tipoHost}">
	              	<option th:each="tphost : ${tphost}" th:value="${tphost}" th:text="${tphost.descricao}"></option>
	            </select>
              </div>
              <div class="col-xs-2">
                <label>Hostname</label>
                <input id="hostname" th:field="*{hostname}" style="text-transform:uppercase;" type="text" class="form-control input-sm" placeholder="INF-000 / INFNB-000">
              </div>
	          <div class="col-xs-2">
            	<label>Departamento</label>
            	<select class="form-control" th:field="*{departamento}">
            		<option label="Selecione" value=""></option>
	              	<option th:each="departamento : ${departamento}" th:value="${departamento}" th:text="${departamento.descricao}"></option>
            	</select>
          	  </div>
          	  <div class="col-xs-3">
          	    <label>Utilizador</label>
          	    <input type="text" class="form-control" th:field="*{utilizador}">
          	  </div>
            </div>
	        <div class="with-border">
	           <h3>Configurações</h3>
	        </div>
            <div class="row">
              <div class="col-xs-2">
                <label>Endereço Mac</label>
                <input class="form-control" style="text-transform:uppercase;" id="macAddress" type="text" maxlength="17" th:field="*{enderecoMac}">
              </div>
              <div class="col-xs-3">
              	<label>Sistema Operacional</label>
              	<select class="form-control" th:field="*{versaoSO}">
	              	<option th:each="versao : ${versao}" th:value="${versao}" th:text="${versao.descricao}"></option>
            	</select>
              </div>
              <div class="col-xs-2">
              	<label>Arquitetura</label>
              	<select class="form-control" th:field="*{arquiteturaSO}">
	              	<option th:each="arqso : ${arqso}" th:value="${arqso}" th:text="${arqso.descricao}"></option>
            	</select>
              </div>
              <div class="col-xs-3">
                <label>Chave de Licença</label>
                <input type="text" class="form-control" th:field="*{chaveLicenca}">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-2">
              	<label>Processador</label>
              	<select class="form-control" th:field="*{processador}">
	              	<option th:each="processador : ${processador}" th:value="${processador}" th:text="${processador.descricao}"></option>
            	</select>
              </div>
              <div class="col-xs-2">
              	<label>Memória RAM</label>
              	<select class="form-control" th:field="*{memoriaRam}">
	              	<option th:each="ram : ${ram}" th:value="${ram.memRam}" th:text="${ram.descricao}"></option>
            	</select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-2">
                <button class="btn btn-info" type="submit">Salvar</button>
                <button class="btn btn-danger" type="reset">Limpar</button>
              </div>
            </div>
          </div>
        </form>
        
      </div>
     </section>
    </section>
</body>
</html>