<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

 
			<form th:action="@{/impressora/salvar}" method="POST" th:object="${impressora}" th:fragment="formImpressora">
	          <div class="box-body">
	            <div class="row">
	              <div class="col-xs-2">
	                <label>Nome</label>
	                <input type="text" class="form-control input-sm input-sm" th:field="*{nome}"></input>
	              </div>
				  <div class="col-xs-2">
	                <label>Modelo</label>
	                <select class="form-control input-sm" th:field="*{modeloImpressora}">
	                	<option label="" value=""></option>
		              	<option th:each="modeloImp : ${modelosImp}" th:value="${modeloImp.id}" th:text="${modeloImp.modelo}"></option>
		            </select>
	              </div>
		          <div class="col-xs-2">
	                <label>IP</label>
					<input type="text" class="form-control input-sm" th:field="*{ip}"></input>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-xs-2">
	            	<label>Departamento</label>
	            	<select multiple="multiple" class="form-control input-sm" th:field="*{departamento}">
		              	<option th:each="departamento : ${departamento}" th:value="${departamento.id}" th:text="${departamento.nomeDepartamento}"></option>
	            	</select>
	          	  </div>
	            </div>
	            <br></br>
	            <div class="row">
	              <div class="col-xs-2">
	                <button class="btn btn-info" type="submit">Salvar</button>
	                <button class="btn btn-danger" type="reset">Limpar</button>
	              </div>
	            </div>
	          </div>
	        </form>


</html>