<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="'layout/default'">
<head>
<title>Sistema Apoio a Produção</title>
</head>
<body>
    <section layout:fragment="conteudo">
    
	    <section class="content">
	       <div class="row">
		      <div class="col-md-12">
		       <div class="box box-primary">
		         <div style="text-align: center" class="box-header with-border">
		            <h3 class="box-title">Impressoras</h3>
		         </div>
	
		         <div class="box-body">
		           <table id="t_impressora" class="table table-bordered table-striped nowrap" style="font-size:small">
		             <thead>
		               <tr>
		                 <th>Nome</th>
		                 <th>IP</th>
		                 <th>Departamento</th>
		                 <th>Marca</th>
		                 <th>Modelo</th>
		                 <th>Modelo Tonner</th>
		                 <th>Editar</th>
		                 <th>Exlcuir</th>
		               </tr>
		             </thead>
		             <tbody>
		                <tr th:each="impressora : ${impressoras}">
		             	  <td th:text="${impressora.nome}"></td>
		             	  <td th:text="${impressora.ip}"></td>
		             	  <td th:text="${impressora.departamento}"></td>
		             	  <td th:text="${impressora.modeloImpressora.marcaImpressora.marca}"></td>
		             	  <td th:text="${impressora.modeloImpressora.modelo}"></td>
		             	  <td th:text="${impressora.ip}"></td> <!-- configurar query para exibir tonner -->
		             	  <td style="width:15px">
		             	    <a th:href="@{/impressora/editar/{id}(id=${impressora.id})}" class="btn btn-warning btn-xs" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
		             	  </td>
		             	  <td style="width:15px">
		             	    <a th:href="@{/impressora/excluir/{id}(id=${impressora.id})}" class="btn btn-danger btn-xs" title="Excluir"><span class="glyphicon glyphicon-trash"></span></a>
		             	  </td>
		             	</tr>
		             </tbody>
		             <tfoot>
		             <tr>
		               <th>Nome</th>
		               <th>IP</th>
		               <th>Departamento</th>
		               <th>Marca</th>
		               <th>Modelo</th>
		               <th>Modelo Tonner</th>
		               <th>Editar</th>
		               <th>Exlcuir</th>
		             </tr>
		             </tfoot>
		           </table>
		         </div>
		        </div>
		      </div>
		      
	        
	       </div>
	    </section>

    </section>
  
<th:block layout:fragment="javascript-extra">
	<script>
	  $(function () {
	    $('#t_impressora').dataTable({
	  	  "language": { //altera informações da tabela para português
		  	"search": "Buscar:",
		  	"zeroRecords": "Nenhum registro encontrado",
		  	"infoEmpty": "",
		  	"infoFiltered":   ""
	  	  },
	  	  "columns": [ //altera as colunas que são pesquisáveis
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": true},
	  		{"searchable": false},
	  		{"searchable": false},
	  		{"searchable": false},
	  		{"searchable": false},
	  		{"searchable": false}
	  	  ],
	  	  "bLengthChange" : false, //esconde opção de lengthMenu
	  	  "bInfo":false,
	  	  "bPaginate": false
	  	})
	  });
	</script>
</th:block>
</body>
</html>
