<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="'layout/default'">
<head>
<title>Sistema Apoio a Produção</title>
</head>
<body>
    <section layout:fragment="conteudo">

    <section class="content-header">
      <h1>
        Detalhamento do Host
      </h1>
    </section>


    <section class="content">

        <div class="col-md-3">
   
          <div class="box box-primary">
            <div class="box-body box-profile">
              <h1 class="text-center">INF-001</h1>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Usuário</b> <a class="pull-right">Matheus Maske</a>
                </li>
              </ul>

              <a th:ref="@{/host/consulta}" class="btn btn-primary"><i class="fa fa-mail-reply"></i> Voltar</a>
            </div>
     
          </div>
      

        </div>
   
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#infoGeral" data-toggle="tab">Informações gerais</a></li>
              <li><a href="#configuracoes" data-toggle="tab">Configurações</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="infoGeral">
			    <div class="box-body">
                  <div class="row">
                    <div class="col-xs-2">
                      <label>Hostname</label>
                      <output>INF-001</output>
                    </div>
                    <div class="col-xs-2">
                      <label>Departamento</label>
                      <output>TI</output>
                    </div>
                    <div class="col-xs-3">
                      <label>Usuário responsável</label>
                      <output>Matheus Maske</output>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane" id="configuracoes">
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-2">
                      <label>Endereço MAC</label>
                      <output>48-5B-39-F8-68-20</output>
                    </div>
                    <div class="col-xs-2">
                      <label>Sistema Operacional</label>
                      <output>Windows 10</output>
                    </div>
                    <div class="col-xs-3">
                      <label>Arquitetura</label>
                      <output>64 bits</output>
                    </div>
                    <div class="col-xs-4">
                      <label>Chave de Licença</label>
                      <output>4SXSA-4SXA1-55ESU-KI5CE-58E6C</output>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-2">
                      <label>Processador</label>
                      <output>Core 2 Duo</output>
                    </div>
                    <div class="col-xs-2">
                      <label>Memória RAM</label>
                      <output>6 GB</output>
                    </div>
                </div>
              </div>

              <div class="tab-pane" id="settings">
                
              </div>
              
            </div>
 
          </div>
 
        </div>
        
      </div>
      

    </section>
    
</section>

<script type="text/javascript">
	function Editar(){
	  var par = $(this).parent().parent(); //tr
 	  var tdHostname = par.children("td:nth-child(1)");
	  var tdDepartamento = par.children("td:nth-child(2)");
	  var tdUsuario = par.children("td:nth-child(3)");
	 
	  tdHostname.html("<input type='text' id='txtNome' value='"+tdHostname.html()+"'/>");
	  tdDepartamento.html("<input type='text' id='txtTelefone' value='"+tdDepartamento.html()+"'/>");
	  tdUsuario.html("<input type='text' id='txtEmail' value='"+tdUsuario.html()+"'/>");
	 
	  $(".btnEditar").bind("click", Editar);
	};
	$(function(){
	    $(".btnEditar").bind("click", Editar);
	 
	});
</script>

</body>
</html>