<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="'layout/default'">
<head>
<title>Sistema Apoio a Produção</title>
</head>
<body>
    <section layout:fragment="conteudo">
    
	    <section class="content">
	      
	      <div class="col-md-9">
	       <div class="box box-primary">
	         <div class="box-header with-border">
	         	<a th:href="@{/hosts/novo}">
	         	  <span class="glyphicon glyphicon-plus"></span>
	         	  <b>Adicionar</b>
	         	</a>
	         </div>
	         <div style="text-align: center" class="box-header with-border">
	           <h3 class="box-title">HOSTS</h3>
	         </div>
	         <!-- /.box-header -->
	         <div class="box-body">
	           <table id="example1" class="table table-bordered table-striped">
	             <thead>
	               <tr>
	                 <th>Hostname</th>
	                 <th>Departamento</th>
	                 <th>Endereço MAC</th>
	                 <th style="width: 12%">Status</th>
	               </tr>
	             </thead>
	             <tbody>
	                <tr th:each="host : ${hosts}">
	             	  <td th:text="${host.hostname}"></td>
	             	  <td th:text="${host.departamento.descricao}"></td>
	             	  <td th:text="${host.enderecoMac}"></td>
	             	  <td><span th:if="${host.statusHost.valor == 1}" class="label label-success" th:text="${host.statusHost.descricao}"></span></td>
	             	  <td><span th:if="${host.statusHost.valor == 2}" class="label label-primary" th:text="${host.statusHost.descricao}"></span></td>
	             	</tr>
	             </tbody>
	             <tfoot>
	             <tr>
	               <th>Hostname</th>
	               <th>Departamento</th>
	               <th>Endereço MAC</th>
	               <th>Status</th>
	             </tr>
	             </tfoot>
	           </table>
	         </div>
	        </div>
	      </div>
	      
	      <div class="col-md-3">
	          <!-- Profile Image -->
	          <div class="box box-primary">
	            <div class="box-body box-profile">
	              <h1 class="text-center">INF-001</h1>
	
	              <ul class="list-group list-group-unbordered">
	                <li class="list-group-item">
	                  <b>Departamento</b> <a class="pull-right">TI</a>
	                </li>
	                <li class="list-group-item">
	                  <b>Utilizador</b> <a class="pull-right">Matheus Maske</a>
	                </li>
	                <li class="list-group-item">
	                  <b>Endereço MAC</b> <a class="pull-right">48-5B-39-F8-68-20</a>
	                </li>
	                <li class="list-group-item">
	                  <b>S.O.</b> <a class="pull-right">Windows 10 64 bits</a>
	                </li>
	                <li class="list-group-item">
	                  <b>Chave de Licença S.O.</b> <br><a>51A51-51A51-51A51-51A51-51A51</a>
	                </li>
	                <li class="list-group-item">
	                  <b>Processador</b> <a class="pull-right">Core i5</a>
	                </li>
	                <li class="list-group-item">
	                  <b>RAM</b> <a class="pull-right">8 GB</a>
	                </li>
	              </ul>
	            </div>
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	
	        </div>
	    </section>

    </section>
  

<script>

  $(function () {
    $('#example1').DataTable({
  	  "language": { //altera informações da tabela para português
  	    "paginate": {
  	      "previous": "Anterior",
  	      "next": "Próximo"
  	    },
  	    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
  	    "search": "Buscar:",
  	    "lengthMenu": "Ver _MENU_ registros",
  	    "zeroRecords": "Nenhum registro encontrado",
  	    "infoEmpty": "",
  	    "infoFiltered":   "",
  	    "searchPlaceholder": "Hostname, Depto, MAC"
  	  },
  	  "columns": [ //altera as colunas que são pesquisáveis
  		{"searchable": true},
  		{"searchable": true},
  		{"searchable": true},
  		{"searchable": false},
  	  ],
  	  "lengthMenu": [ [-1, 10, 20, 30], ["Todos", 10, 20, 30] ] // defina quantidade de linhas para exibir
  	})
   });
</script>
</body>
</html>